*.log

# Intellij Idea project files
/.idea
*.iml
*.ipr
*.iws

#jrebel
rebel.xml

# gradle config
/.gradle

# project binaries
/bin
/build
/classes
/out
/target
/*/build

# local sonar
/.sonar
sonar-project.properties

# docs
docs/_build

# Eclipse project files
.classpath
.project
.settings
.gradletasknamecache

# mac
.DS_Store
